/* Basic Grid */
body {
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 8fr 1fr;

  /* background-color: rgb(33, 243, 173); */
  /* padding: 10px; */
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 11fr 3fr 1fr;

  /* background-color: rgb(33, 243, 173); */
  /* padding: 10px; */
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 4fr 4fr 1fr;
    background-color: black;
    color: white;
  }

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/images/orangeBg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
    font-size: 85px;
    color: white;
    letter-spacing: -5px;
    line-height: 85px;
}

.hero-details{
    color: white;
    margin-top: -40px;
    font-size: 18px;
}

.hero-button {
    padding: .8em  4em .8em 4em;
    text-align: center;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 14px;
    height: 48px;
    background-color: #04B431;
}

.col-1 {
  /* background-color: rgba(129, 148, 211, 0.849); */
  /* border: 2px solid rgba(240, 240, 240, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.col-2 {
  /*border: 2px solid rgba(240, 240, 240, 0.8);*/
  padding: 20px;
  font-size: 25px;
  align-self: center;
  justify-self: center;
}

.col-3 {
  /*background-color: rgba(129, 148, 211, 0.849);
    border: 2px solid rgba(240, 240, 240, 0.8);*/
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.col-8 {
  /*background-color: rgba(129, 148, 211, 0.849);
    border: 2px solid rgba(240, 240, 240, 0.8);*/
  padding: 20px;
  font-size: 30px;
  text-align: center;
}



.hidden-item {
  /* background-color: rgba(129, 148, 211, 0.849); */
  /* border: 2px solid rgba(240, 240, 240, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.covid-header {
    color: #0431B4;
    
}

.covid-details {
    margin-top: -10px;
}

.covid-details a {
   color: black;
}

.nav {
  font-size: 14px;
}

.nav-items {
  display: inline;
  margin-right: 18px;
  font-weight: 600;
}

.top-nav {
  background-color: gray;
  color: white;
}

.footer-title {
    color: gray;
    font-size: 13px;
    font-weight: 900;
}


.footer-item {
    font-size: 13px;
    list-style: none;
}

.social-icons {
    margin-right: 15px;
}

.spotify {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.footer-col-2 {
    text-align: left;
}